<?xml version="1.0"?>
<config>
	<default>
		<linkdirectory>
			<general>
				<customer_enabled>1</customer_enabled>
			</general>
			
		</linkdirectory>
	</default>
    <modules>
        <Magestore_Linkdirectory>
            <version>0.2.1</version>
        </Magestore_Linkdirectory>
    </modules>
    <frontend>
        <routers>
            <linkdirectory>
                <use>standard</use>
                <args>
                    <module>Magestore_Linkdirectory</module>
                    <frontName>linkdirectory</frontName>
                </args>
            </linkdirectory>
        </routers>
        <layout>
            <updates>
                <linkdirectory>
                    <file>linkdirectory.xml</file>
                </linkdirectory>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<linkdirectory>
				<use>admin</use>
				<args>
					<module>Magestore_Linkdirectory</module>
					<frontName>linkdirectory</frontName>
				</args>
			</linkdirectory>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <linkdirectory translate="title">
                                            <title>Link Information</title>
                                            <sort_order>50</sort_order>
                                        </linkdirectory>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magestore_Linkdirectory>
							<title>Linkdirectory Module</title>
							<sort_order>10</sort_order>
						</Magestore_Linkdirectory>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<linkdirectory>
					<file>linkdirectory.xml</file>
				</linkdirectory>
			</updates>
		</layout>
		<events>
		  <admin_system_config_changed_section_linkdirectory>
			  <observers>
		          <magestore_linkdirectory_observer>
		            <type>singleton</type>
		            <class>linkdirectory/linkdirectory</class>
		            <method>sendInfo</method>
		          </magestore_linkdirectory_observer>
		       </observers>
		  </admin_system_config_changed_section_linkdirectory>			  		  
		</events>		
    </adminhtml>   
    <global>
        <models>
            <linkdirectory>
                <class>Magestore_Linkdirectory_Model</class>
                <resourceModel>linkdirectory_mysql4</resourceModel>
            </linkdirectory>
            <linkdirectory_mysql4>
                <class>Magestore_Linkdirectory_Model_Mysql4</class>
                <entities>
                    <linkdirectory>
                        <table>linkdirectory</table>
                    </linkdirectory>
                </entities>
            </linkdirectory_mysql4>
        </models>
        <resources>
            <linkdirectory_setup>
                <setup>
                    <module>Magestore_Linkdirectory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </linkdirectory_setup>
            <linkdirectory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </linkdirectory_write>
            <linkdirectory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </linkdirectory_read>
        </resources>
        <blocks>
            <linkdirectory>
                <class>Magestore_Linkdirectory_Block</class>
            </linkdirectory>
        </blocks>
        <helpers>
            <linkdirectory>
                <class>Magestore_Linkdirectory_Helper</class>
            </linkdirectory>
        </helpers>
    </global>
	
	<magestore_config>
		<server_url>http://magestore.com/index.php/</server_url>
		<code_authentication>magestore</code_authentication>
	</magestore_config>	
	
</config>
